# Godot-specific ignores
.godot/
.tmp/
.import/
*.uid
export_preset.cfg
/editor_settings-4.tre
/editor_settings-3.tre

# OS-specific ignores
.DS_Store
Thumbs.db

# Krita-specific ignores
*.kra

# Plugins ignores
addons/

# Builds & Executables ignores
*.exe
*.zip
*.rar
*.o
*.a
*.so
*.dylib
*.dll
*.app
*.apk
*.ipa

# Exportation Folder ignores
export/
